 <h1>Edit Whiskey</h1>
 <form method="POST" action="/whiskeys/<%= @whiskey.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
<label for="name">Name: </label>
<input type="text" name="name" value="<%=@whiskey.name%>"></p>
<p>
<label for="description">Description: </label>
<textarea name="description" placeholder="<%=@whiskey.description%>" ></textarea>
</p>
<p>
<label> Which Distillery does this Whiskey belong to? </label>
  <select name="distillery_id">
    <% current_user.distilleries.each do |distillery| %>
      <option value=<%=distillery.id %>><%= distillery.name %></option>
    <% end %>
  </select>
</p>
<input type="submit" value="Edit Whiskey"></br></br>

<form>
<button><a href="/whiskeys/<%=@whiskey.id%>">Back</a></button>